{% extends 'base/base.html' %}
{% load humanize%}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content-wrapper" style="min-height: 2838.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right">
                <a class="btn btn-xs btn-danger" href="{% url 'make_payment'%}"><i class="fa fa-plus-circle"></i> Make Payment<a/>
                  <a class="btn btn-xs btn-warning" href="{% url 'receive_payment'%}"><i class="fa fa-plus-circle"></i> Receive Payment<a/>
                <a class="btn btn-xs btn-info" href="{% url 'new_expenses'%}"><i class="fa fa-plus-circle"></i> New Expenses<a/>
                <a class="btn btn-xs btn-primary" href="{% url 'make_transfer'%}"><i class="fa fa-plus-circle"></i> Transfer Fund<a/>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          {% include 'base/message.html' %}
          <section class="content">
                <div class="card">
                  <div class="card-body p-0">
                    
                    
                    <!-- /.mail-box-messages -->
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
          </section>
        </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

