{% extends 'base/base.html' %}
{% load humanize%}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content-wrapper" style="min-height: 2838.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right">
                <a class="btn btn-sm btn-primary btn-xs" href="{%url edit_link transaction.id%}"><i class="fa fa-edit"></i> Edit Transaction<a/>
                <a class="btn btn-sm btn-danger btn-xs" href="{%url "delete_transaction" transaction.id%}"><i class="fa fa-trash"></i> Delete Transaction<a/>
                <a class="btn btn-sm btn-default btn-xs" href="{% url back_link%}"><i class="fa fa-reply-all"></i> Back<a/>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {%if transaction.payment_type == 'TRF'%}
    {% include 'includes/transfer_check.html'%}
    {%elif transaction.payment_type == 'expenses' %}
    {% include 'includes/expenses_check.html'%}
    {% else%}
    {% include 'includes/check.html'%}
    {%endif%}
  </div>
{% endblock %}

