{% extends 'base/base.html' %}
{% load humanize%}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="content-wrapper" style="min-height: 2838.44px;" xmlns="http://www.w3.org/1999/html">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right">
                <button class="btn btn-success btn-xs" id="save_invoice" type="submit"><i class="fa fa-save"></i> Save Purchase</button>
                <button class="btn btn-warning btn-xs" id="save_print_invoice" type="submit"><i class="fa fa-print"></i> Save & Print</button>
                <a class="btn btn-sm btn-default btn-xs" href="{% url 'purchase'%}"><i class="fa fa-reply-all"></i> Cancle<a/>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <form method="post">
        <section class="content" id="invoice">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                          <div class="form-group">
                              <label for="people">Vendor Name</label>
                              {{form.people}}
                          </div>
                            <div class="form-group">
                                <label for="email">Vendor Address</label>
                                <div id="customer-details" class=" p-2" style="border:1px solid #cfcfcf;border-radius:5px">
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                            <div class="text-riht">
                                <label for="invoice_at">Date</label>
                            </div>
                            <div class="form-group text-right">
                                {{form.created_at}}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th  style="text-align:right">Amount</th>
                                </tr>
                                </thead>
                                <tbody id='invoice-products'>
                                {% for forms in formset%}
                                    <tr>
                                        <td>{{forms.products}}</td>
                                        <td>{{forms.quantity}}</td>
                                        <td>{{forms.price}}</td>
                                        <td align="right" class="invoice-amount">
                                            <div class="amount invoice-item" id="id_form-{{forloop.counter0}}-amount">0.00</div>
                                        </td>
                                    </tr>
                                {% endfor%}
                                    <tr>
                                        <td colspan="3" align="right"><b>Total:</b></td>
                                        <td align="right"><div id='subtotal' class="invoice-item">NGN 0.00</div></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    
                </div>
                </div>
                </div>
            </div>
        </section>
    </form>
    <div class="card-footer col">
        <div class="float-sm-right">
            <button class="btn btn-success btn-xs" id="save_invoice" type="submit"><i class="fa fa-save"></i> Save Purchase</button>
            <button class="btn btn-warning btn-xs" id="save_print_invoice" type="submit"><i class="fa fa-print"></i> Save & Print</button>
            <a class="btn btn-sm btn-default btn-xs" href="{% url 'purchase'%}"><i class="fa fa-reply-all"></i> Cancle<a/>
        </div>
    </div>
  </div>

    <script>
        window.onpageshow = function(event) {
            // update hidden input field
            $('form').each(function() { this.reset() });
            $('#customer-details').html(empty_people_details())
            $('#select2-customer-name-container').text('---------')
            $('.invoice-item').text('0.00')
            $('#invoice-products .select2-selection__rendered').text('---------')
        };
    </script>

{% endblock %}
