{% extends 'base/base.html' %}
{% load humanize%}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content-wrapper" style="min-height: 2838.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right">
                <form method="post">
                    {% csrf_token%}
                    <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete Purchase</button>
                    <a href="{% url 'purchase' %}" class='btn btn-xs btn-default'><i class="fa fa-reply-all"></i> Cancle</a>
                </form>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    {% include "includes/invoice_details.html"%}
  </div>
{% endblock %}

