{% extends 'base/base.html' %}
{% load humanize%}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content-wrapper" style="min-height: 2838.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right">
                <a class="btn btn-sm btn-danger" href="{% url 'create_purchase'%}"><i class="fa fa-plus-circle"></i> New Purchase<a/>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          {% include 'base/message.html' %}
          <section class="content">
                <div class="card">
                  <div class="card-body p-0">
                    
                    <div class="table-responsive mailbox-messages">
                      {% if purchases.len != 0%}
                      <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Purchase No</th>
                                <th>Vendor Name</th>
                                <th>Total Items</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        {% for purchase in purchases%}
                        
                        <tr>
                            <td><a href="{% url 'view_purchase' purchase.invoice_no%}">{{purchase.invoice_no}}</a></td>
                            <td>{{purchase.people.name|capfirst}}</td>
                            <td>{{purchase.total_quantity}}</td>
                            <td>{{purchase.invoice_amount|intcomma}}</td>
                            <td>{{purchase.invoice_at|date:"jS M, Y"}}</td>
                            <td align="right">
                                <a href="{% url 'view_purchase' purchase.invoice_no%}" class="btn btn-primary btn-xs"><i class="fa fa-link"></i> view</a>
                                <a class="btn btn-sm btn-primary btn-xs" href="{% url 'edit_purchase' purchase.invoice_no%}"><i class="fa fa-edit"></i> Edit<a/>
                                <a href="{% url 'delete_purchase' purchase.invoice_no%}" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                        
                        {%endfor%}
                        
                        </tbody>
                      </table>
                      {%else%}
                        <div class="car">
                          <div class="card-body">
                            No purchase found! click <a class="btn btn-xs btn-danger" href="{% url 'create_purchase'%}"><i class="fa fa-plus-circle"></i> New Purchase</a> to make your first Purchase.
                          </div>
                        </div>
                        {%endif%}
                      <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
          </section>
        </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

