<!-- templates/registration/login.html -->
{% extends 'registration/base.html' %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg text-bold">Password reset complete</p>
      <div class="text-center text-info"><p class="fas fa-duotone fa-thumbs-up fa-5x"></p></div>
      <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% endblock %}

