<!-- templates/registration/login.html -->
{% extends 'registration/base.html' %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg text-bold">Password Reset Code Sent</p>
      <div class="text-center text-info"><p class="fas fa-duotone fa-thumbs-up fa-5x"></p></div>
      <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% endblock %}

