{% extends 'base/base.html' %}
{% load humanize%}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content-wrapper" style="min-height: 2838.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% include 'base/message.html' %}
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right">
                {% if product.status == 'disabled' %}
                <a href="{% url 'enable_product' product.product_code %}" class="btn btn-xs btn-success"><small class="fa fa-ban"></small> Enable Product</a>
                  
                {% else%}
                <a href="{% url 'disable_product' product.product_code %}" class="btn btn-xs btn-danger"><small class="fa fa-ban"></small> Disable Product</a>
                {% endif%}
                <a href="{% url 'edit_product' product.product_code %}" class="btn btn-outline-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                <a href="{% url 'delete_product' product.product_code %}" class="btn btn-outline-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
                <a href="{% url 'products' %}" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply-all"></i> Back</a>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Information
                {% if product.status != 'disabled'%}<small class="badge badge-success">Active</small>{%else%} <small class="badge badge-danger">Disabled</small> {% endif%}
              </h3>
    
              <div class="card-tools">
                {% if product.status != 'disabled'%}<small class="fa fa-lock-open text-success"></small>{%else%} <small class="fa fa-lock text-danger"></small> {% endif%}
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              
              <div class="row">
                <div class="col-sm-6">
                  <dl class="row">
                    <dt class="col-sm-4">Product Name:</dt>
                    <dd class="col-sm-8">{{product.name|capfirst}}</dd>
                    <dt class="col-sm-4">Quantity:</dt>
                    <dd class="col-sm-8">
                      {{product.quantity}} 
                      {% if product.quantity <= 0 %}
                      <span class="badge badge-danger p-1">out of stock</span>
                      {% elif  product.quantity <= product.reorder_point %}
                        <span class="badge badge-warning p-1">stock is low. Stock up now</span>
                      {% endif%}
                    </dd>
                    <dt class="col-sm-4">Price:</dt>
                    <dd class="col-sm-8">
                      {{product.selling_price|floatformat:2|intcomma}}
                      {% if product.selling_price < product.cost_price %}
                      <span class="badge badge-danger p-1">Selling at loss</span>
                      {% elif  product.selling_price == product.cost_price %}
                        <span class="badge badge-warning p-1">selling at no profit</span>
                      {% endif%}
                    </dd>
                    <dt class="col-sm-4">Reorder Level:</dt>
                    <dd class="col-sm-8">{{product.reorder_point}}</dd>
                      <dt class="col-sm-4">Description:</dt>
                    <dd class="col-sm-8">{{product.description| capfirst}}</dd>
                  </dl>
                </div>
                <div class="col-sm-6">
                  <dl class="row">
                    <dt class="col-sm-4">Created By:</dt>
                    <dd class="col-sm-8">{{product.created_by|capfirst}}</dd>
                    <dt class="col-sm-4">Purchase Amount:</dt>
                    <dd class="col-sm-8">{{product_amount_purchased|floatformat:2|intcomma}}</dd>
                    <dt class="col-sm-4">Sales Amount:</dt>
                    <dd class="col-sm-8">{{product_amount_sold|floatformat:2|intcomma}}</dd>
                    <dt class="col-sm-4">Quantity Sold:</dt>
                    <dd class="col-sm-8">{{total_quantity_sold|floatformat:1|intcomma}}</dd>
                    <dt class="col-sm-4">Quantity Purchased:</dt>
                    <dd class="col-sm-8">{{total_quantity_purchased|floatformat:1|intcomma}}</dd>
                    <dt class="col-sm-4">Revenue:</dt>
                    <dd class="col-sm-8">{{revenue|floatformat:2|intcomma}}</dd>
                  </dl>
                </div>
                {% if product.status == 'disabled' %}
                <a href="{% url 'enable_product' product.product_code %}" class="btn btn-sm btn-info btn-block"><small class="fa fa-ban"></small> Enable Product</a>
                  
                {% endif%}
              </div>
              
              
            </div>
            <!-- /.card-body -->
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Transaction Details</h3>
    
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body" style="display: block;">
              <table class="table table-striped table-condensed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Invoice No</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th align="right"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for activity in product_activities %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{activity.invoice_no}}</td>
                    <td>{{activity.quantity|floatformat:1|intcomma}}</td>
                    <td>{{activity.price|floatformat:2|intcomma}}</td>
                    <td>{{ activity.amount|floatformat:2|intcomma }}</td>
                    <td>{{ activity.type|capfirst }}</td>
                    <td align="right">
                      <a href="{% url 'view_invoice' activity.invoice_no%}" class="btn btn-outline-primary btn-xs"><i class="fa fa-eye"></i> View invoice</a>
                    </td>
                    
                  </tr>
                  {% endfor%}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            
          </div>
          
        </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

