{% extends 'base/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content-wrapper" style="min-height: 2838.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right">
              <a href="{%url 'accounts'%}" class="btn btn-xs btn-default"><i class="fa fa-reply-all"></i> Back</a>
              
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    {% include 'includes/rec_pay_table.html' %}
    <!-- /.content -->
  </div>
{% endblock %}

