{% load static%}
{% load active_link_tags %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{%url 'dashboard' %}" class="brand-link">
      <img src='{% static "dist/img/AdminLTELogo.png" %}' alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Techcoderr-POS</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item">
        {% url 'dashboard' as url %}
        <a href="{{url}}" class="nav-link {% active_link 'dashboard' 'active' %}">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'products' as url %}
        <a href="{{url}}" class="nav-link {% active_link 'products' 'active' %}">
          <i class="nav-icon fas fa-th"></i>
          <p>Products</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'invoice' as url %}
        <a href="{{url}}" class="nav-link {% active_link 'invoice' 'active' %}">
          <i class="nav-icon fas fa-copy"></i>
          <p>Invoice</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'purchase' as url %}
        <a href="{{url}}" class="nav-link {% active_link 'purchase' 'active' %}">
           <i class="nav-icon fas fa-copy"></i>
          <p>Purchases</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'people' as url %}
        <a href="{{url}}" class="nav-link {% active_link 'people' 'active' %}">
          <i class="nav-icon fas fa-tree"></i>
          <p>People</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'accounts' as url %}
        <a href="{{url}}" class="nav-link {% active_link 'accounts' 'active' %}">
          <i class="nav-icon fas fa-copy"></i>
          <p>Accounts</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'payments' as url%}
        <a href="{{url}}" class="nav-link {% active_link 'payments' 'active' %}">
          <i class="nav-icon fas fa-money-check"></i>
          <p>Payments</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'expenses' as url%}
        <a href="{{url}}" class="nav-link {% active_link 'expenses' 'active' %}">
          <i class="nav-icon fas fa-dollar-sign"></i>
          <p>Expenses</p>
        </a>
      </li>
      <!--<li class="nav-item">
        {% url 'reports' as url%}
        <a href="{{ url }}" class="nav-link {% if request.path ==  reports_url %}active{% endif %}">
          <i class="nav-icon fas fa-chart-pie"></i>
          <p>Reports</p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'users' as url%}
        <a href="{{ url }}" class="nav-link {% if request.path ==  users_url %}active{% endif %}">
          <i class="nav-icon fas fa-table"></i>
          <p>Users</p>
        </a>
      </li>-->
      
    </ul>
  </nav>
    </div>
</aside>

 