<!-- templates/home.html -->
{% extends 'base/base.html' %}
{% load humanize%}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="content-wrapper" style="min-height: 2838.44px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{dashboard}}Dashboard__</h1>
        </div>
        <div class="col-sm-6">
          <div class="float-sm-right">
              shortcuts
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small card -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{total_sales}}</h3>

              <p>Total Sales</p>
            </div>
            <div class="icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small card -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3> {{cash_inflows|intcomma}}</h3>

              <p>Cash Inflow</p>
            </div>
            <div class="icon">
              <i class="fas fa fa-dollar-sign"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small card -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{customers}}</h3>

              <p>Customers</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-plus"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small card -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{products}}</h3>

              <p>Out of Stock</p>
            </div>
            <div class="icon">
              <i class="fas fa-chart-pie"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-9 col-9 ">
          <div class="table-responsive card">
            <div class="card-header">Stock position {{filter}}</div>
            <table class="table table-condensed card-body">
              <thead>
                <th>Product</th>
                <th>Status</th>
                <th>Quantity in-stock</th>
                <th>Quantity Sold</th>
                <th></th>
              </thead>
              <tbody>
                {%for top_stock in top_stocks%}
                  <tr>
                    <td>{{top_stock.name}}</td>
                    <td>{{top_stock.status}}</td>
                    <td>{{top_stock.quantity}}</td>
                    <td>{{top_stock.current_stock_out_sum}}</td>
                    <td>
                      {%if top_stock.current_stock_out_sum > top_stock.previous_stock_out_sum  %}
                      <i class="fa fa-arrow-up fa-beat text-green"></i>
                      {%else%}
                      <i class="fa fa-arrow-down fa-beat text-red"></i>
                      {%endif%}
                    </td>
                  </tr>
                {%endfor%}
                </tbody>
            </table>
          </div>
        </div>
        <div class="col-3 col-sm-12 col-md-4 col-lg-3">
          <div class="card">
            <div class="card-header">
              Customers revenue {{filter}}
            </div>
            <div class="card-body">
              {% for customer_revenue in customers_revenue%}
              <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{customer_revenue.customer_invoice_amount_sum}}" aria-valuemin="0" aria-valuemax="{{customer_revenue.total_invoice_amount}}" style="width: {{customer_revenue.customer_invoice_amount_sum}}%">
                  <span class="sr-only">{{customer_revenue.customer_invoice_amount_sum}} Complete (success)</span>
                </div>
              </div>
              {% endfor%}
            </div>
            <!-- /.card-body -->
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        <div class="table-responsive card">
          <div class="card-header">Recent Transactions</div>
          <table class="table table-condensed card-body">
            <tbody>
              {%for transaction in latest_transactions%}
              <tr>
                <td class="mailbox-name">
                  <a href="
                  {%if transaction.payment_type == 'sales' or transaction.payment_type == 'bill'%}{%url 'payment' transaction.id%}{%endif%}
                  {%if transaction.invoice_type == 'sales' or transaction.invoice_type == 'purchase' %}{%url 'view_invoice' transaction.invoice_no%}{%endif%}
                  ">
                    {{transaction.people.name|capfirst}}
                    {{transaction.applied_to.name|capfirst}}
                  </a>
                </td>
                <td class="mailbox-subject">
                  {%if transaction.invoice_type == 'sales' or transaction.invoice_type == 'purchase' %}{{transaction.invoice_type|capfirst}} Invoice{%else%}{{transaction.invoice_type|capfirst}}{%endif%}
                  {%if transaction.payment_type == 'sales' or transaction.payment_type == 'bill' %}{{transaction.payment_type|capfirst}} Payment{%else%}{{transaction.payment_type|capfirst}}{%endif%}

                </td>
                <td class="mailbox-attachment">{{transaction.amount|intcomma}}{{transaction.invoice_amount|intcomma}}</td>
                <td class="mailbox-date">{{transaction.created_at|date:"jS M, Y"}}</td>
              </tr>
              {%endfor%}
            </tbody>
            
          </table>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="far fa-flag"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Payables</span>
                  <span class="info-box-number">{{payables.sum_total|intcomma}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="far fa-flag"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Receiveables</span>
                  <span class="info-box-number">{{receiveables.sum_total|intcomma}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="far fa-flag"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Cash Available</span>
                  <span class="info-box-number">{{cash.sum_total|intcomma}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
</div>



{% endblock %}
